LuckyTraderClt_Cons/Service References/LTSvc/LuckyTraderLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LuckyTraderLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LuckyTraderLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStock" nillable="true" type="tns:ArrayOfStock" />
  <xs:complexType name="Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="shareAmount" type="xs:int" />
      <xs:element minOccurs="0" name="shareBuy" type="xs:decimal" />
      <xs:element minOccurs="0" name="shareSell" type="xs:decimal" />
      <xs:element minOccurs="0" name="shareTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
</xs:schema>